html, body {
    height: 100%;
    margin: 0;
    font-family: "Gill Sans", sans-serif;
    background: #11998e; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #38ef7d, #11998e); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    cursor: none;

    .content {
        text-align: center;
        color: white;
        padding: 30px;

        #cover {
            -webkit-box-shadow: 0 0 30px 1px rgba(59,59,59,1);
            -moz-box-shadow: 0 0 30px 1px rgba(59,59,59,1);
            box-shadow: 0 0 30px 1px rgba(59,59,59,1);
            margin: 10px;
        }

        #title {
            font-size: 40px;
        }
        #artist {
            font-size: 32px;
        }

        .controls {
            padding: 20px;

            button {
                font-size: 50px;
                color: white;
                border: none;
                background: none;
                cursor: none;

                &:focus {
                    outline: none;
                }
            }
        }
    }
}
